{% extends "new_base.html" %}

{% block content %}
<div style="margin-top: 150px">
<h2 style="display: flex;
	flex-direction: column;
	align-items: center;
    color: #251002;
    margin-top: -9%;">Мои питомцы</h2>
<div class="post-box">
    {% for el in data %}
    <div class="post-border">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <div class="image-post">
                        <img src="/static/images/pets/{{el.id}}.png" width=257.5 height=326.5>
                    </div>
                    <div class="info-post">
                        <a style="display: flex;
                           text-decoration: none;
	                       flex-direction: column;
	                       align-items: center;
	                       color: #251002;
                           margin-top: 5px;
                           margin-bottom: 5px;
                           font-size: 20px;" href="/pet/{{el.id}}">{{ el.name }}</a>

                        <div class="post-bottom">
                            <a href="/change/{{el.id}}" class="info-but">Редактировать</a>
                            <a href="/delete/{{el.id}}" class="info-but">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}