{% extends "new_base.html" %}

{% block content %}
    <div class="post-box">
        <div class="post-border">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product">
                            <div class="image-post">
                                <img src="{{ pic }}" width=640 height=360>
                            </div>
                            <div class="info-post" style="">
                                <h4 style="font-size: 20px">{{ data.name }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}